/* Estilo para os rótulos de texto (Nome Completo:, Matrícula:, etc.) */
.cad-text{
    margin-left: 10%;
    font-size: 1rem;
    display: block; /* Garante que cada rótulo ocupe sua própria linha */ 
    font-weight: bold; /* Deixa o texto em negrito */
}

/* Formulario de cadastro de projeto */
.d-flex{
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
}

/* Inputs de formulario */
.input-form {
    font-size: 1rem;
    flex-grow: 1;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #1f4943;
    background-color: white;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    margin-left: 7%;
}