<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIENTIF</title>
    <!-- Adicione o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="view_professor.css">
    <link rel="icon" href="/VIEW/icon/logo_cientif.png" type="image/png">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
   <div class="nav-header">  
    <div class="logo">
      <img src="/VIEW/icon/logo_cientif.png" alt="Logo CIENTIF">
      <h1 class="header-logo">CIENTIF</h1>
    </div>

    <!--Menu para telas grandes-->
    <nav class="nav" id="nav-menu">
      <i data-feather="x" class="close" id="close-menu"></i>
      <ul class="nav-list">
        <li>
          <a href="/VIEW/VIEW_MENU/view_menu.html" class="tooltip-container" >
            <img src="/VIEW/icon/botao-home.png" alt="Home" class="tooltip-img">
            <span class="tooltip-text">Home</span>
          </a>
        </li>
        <li>
          <a href="/VIEW/VIEW_EDITAL/view_edital.html"
            class="tooltip-container">
            <img src="/VIEW/icon/pesquisa-edital.png" alt="Edital" class="tooltip-img">
            <span class="tooltip-text">Edital</span>
          </a>
        </li>
        <li>
          <a href="/VIEW/VIEW_PROJETO/view_projeto.html" class="tooltip-container">
            <img src="/VIEW/icon/pesquisa-projeto.png" alt="Projeto" class="tooltip-img">
            <span class="tooltip-text">Projeto</span>
          </a>
        </li>
        <li>
          <a href="/VIEW/VIEW_PROFESSOR/view_professor.html" class="tooltip-container">
            <img src="/VIEW/icon/professor-icon.png" alt="Professores" class="tooltip-img">
            <span class="tooltip-text">Professores</span>
          </a>
        </li>
        <li>
          <a href="/VIEW/VIEW_ALUNO/view_aluno.html" class="tooltip-container">
            <img src="/VIEW/icon/aluno-icon.png" alt="Alunos" class="tooltip-img">
            <span class="tooltip-text">Alunos</span>
          </a>
        </li>
        <li>
          <a href="/VIEW/VIEW_DUVIDAS/view_duvidas.html" class="tooltip-container">
            <img src="/VIEW/icon/ponto-de-interrogacao.png" alt="Duvida" class="tooltip-img">
            <span class="tooltip-text">Duvidas</span>
          </a>
        </li>
        <li>
          <a href="/VIEW/VIEW_LOGIN/view_login.html" class="tooltip-container">
            <img src="/VIEW/icon/botao-de-close.png" alt="Sair" class="tooltip-img">
            <span class="tooltip-text">Sair</span>
          </a>
        </li>
      </ul>
    </nav>
    <i data-feather="menu" class="toggle" id="toggle-menu"></i>

  </div>

    <!-- Cabeçalho de página com um botão de voltar e o título "PROFESSOR" -->
    <div class="container">
        <header>
            PROFESSORES
        </header>

        <div>
            <img class="img-professor" src="/VIEW/icon/professor-icon.png" alt="Foto de Perfil">

<!------------------------------------------------------------------------------------------------->
<div class="accordion" id="accordionprofessor">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button collapsed" 
                    type="button"   
                    data-bs-toggle="collapse"
                    data-bs-target="#duvida1"
                    aria-expanded="false"
                    aria-controls="duvida1">
                Iago Bezerra 
            </button> 
        </h2>

        <div id="duvida1" 
             class="accordion-collapse collapse" 
             aria-labelledby="heading1" 
             data-bs-parent="#accordionprofessor">
            <div class="accordion-body">
                <p><strong>Nome:</strong> Iago Bezerra Arrais</p>
                <p><strong>Área:</strong> A</p>
                <p><strong>Matrícula:</strong> 0405061827</p>
                <p><strong>Status:</strong> Disponível para projeto</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!------------------------------------------------------------------------------------------------->
<div class="accordion" id="accordionprofessor">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button collapsed" 
                    type="button"   
                    data-bs-toggle="collapse"
                    data-bs-target="#duvida1"
                    aria-expanded="false"
                    aria-controls="duvida1">
                Iago Bezerra 
            </button> 
        </h2>

        <div id="duvida1" 
             class="accordion-collapse collapse" 
             aria-labelledby="heading1" 
             data-bs-parent="#accordionprofessor">
            <div class="accordion-body">
                <p><strong>Nome:</strong> Iago Bezerra Arrais</p>
                <p><strong>Área:</strong> A</p>
                <p><strong>Matrícula:</strong> 0405061827</p>
                <p><strong>Status:</strong> Disponível para projeto</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



















<!------------------------------------------------------------------------------------------------->
            <!--<ul class="perfil-list">

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Aluno: <p class ="p2"> Edson</p></p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Curso: <p class ="p2"> A.D.S. 4° Período</p></p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Matrícula: <p class ="p2"> 11111111</p> </p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class="p1">Projeto Atual:</p> <p class ="p2"> Projeto 1</p> 
                    </li>
                </section>

            </ul> -->

        </div>

       

    </div>

  <script> feather.replace(); </script>
  <script src="view_professor.js"></script>
</body>
</html>