<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIENTIF</title>

    <!-- Adicione o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="view_professor.css">
    <link rel="icon" href="/VIEW/icon/logo_cientif.png" type="image/png">
</head>

<body>
    <!-- Menu para celulares/responsivos -->
    <nav class="bottom-nav d-md-none">
        <a href="/VIEW/VIEW_MENU/view_menu.html" class="nav-item active"><img src="/VIEW/icon/botao-home.png" alt="Home Icon"><br>Home</a>
        <a href="https://www.ifto.edu.br/noticias/editais-de-apoio-a-pesquisa-no-ambito-do-ifto-sao-publicados/view" class="nav-item"><img src="/VIEW/icon/pesquisa-edital.png" alt="Edital icon"><br>Editais</a>
        <a href="/VIEW/VIEW_PROJETO/view_projeto.html" class="nav-item"><img src="/VIEW/icon/pesquisa-projeto.png" alt="Projeto icon"><br>Projetos</a>
        <a href="/VIEW/VIEW_ALUNO/view_aluno.html" class="nav-item"><img src="/VIEW/icon/aluno-icon.png" alt="Aluno icon"><br>Aluno</a>
        <a href="/VIEW/VIEW_DUVIDAS/view_duvidas.html" class="nav-item"><img src="/VIEW/icon/ponto-de-interrogacao.png" alt="Duvida icon"><br>Duvidas</a>          
    </nav>

    <!-- Cabeçalho de página com um botão de voltar e o título "PROFESSOR" -->
    <div class="container">
        <header>
            <span class="button-retorno"> <a href="/VIEW/VIEW_MENU/view_menu.html">←</a></span>
            PROFESSORES
        </header>

        <div>
            <img class="img-professor" src="/VIEW/icon/professor-icon.png" alt="Foto de Perfil">

<!------------------------------------------------------------------------------------------------->
<div class="accordion" id="accordionprofessor">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button collapsed" 
                    type="button"   
                    data-bs-toggle="collapse"
                    data-bs-target="#duvida1"
                    aria-expanded="false"
                    aria-controls="duvida1">
                Iago Bezerra 
            </button> 
        </h2>

        <div id="duvida1" 
             class="accordion-collapse collapse" 
             aria-labelledby="heading1" 
             data-bs-parent="#accordionprofessor">
            <div class="accordion-body">
                <p><strong>Nome:</strong> Iago Bezerra Arrais</p>
                <p><strong>Área:</strong> A</p>
                <p><strong>Matrícula:</strong> 0405061827</p>
                <p><strong>Status:</strong> Disponível para projeto</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!------------------------------------------------------------------------------------------------->
<div class="accordion" id="accordionprofessor">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button collapsed" 
                    type="button"   
                    data-bs-toggle="collapse"
                    data-bs-target="#duvida1"
                    aria-expanded="false"
                    aria-controls="duvida1">
                Iago Bezerra 
            </button> 
        </h2>

        <div id="duvida1" 
             class="accordion-collapse collapse" 
             aria-labelledby="heading1" 
             data-bs-parent="#accordionprofessor">
            <div class="accordion-body">
                <p><strong>Nome:</strong> Iago Bezerra Arrais</p>
                <p><strong>Área:</strong> A</p>
                <p><strong>Matrícula:</strong> 0405061827</p>
                <p><strong>Status:</strong> Disponível para projeto</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



















<!------------------------------------------------------------------------------------------------->
            <!--<ul class="perfil-list">

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Aluno: <p class ="p2"> Edson</p></p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Curso: <p class ="p2"> A.D.S. 4° Período</p></p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Matrícula: <p class ="p2"> 11111111</p> </p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class="p1">Projeto Atual:</p> <p class ="p2"> Projeto 1</p> 
                    </li>
                </section>

            </ul> -->

        </div>

        <footer>
            <a href="/VIEW/VIEW_DUVIDAS/view_duvidas.html">❓</a>
        </footer>

    </div>

</body>
</html>