.container1{
    background-color: rgb(221, 221, 221);
    width: 40%;
    height: 550px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Celulares Pequenos 480px */
@media (max-width: 480px) {
    body {
        padding-top: 110px;
    }
}

/* Celulares Pequenos 768px */
@media (max-width: 768px) {
    body {
        padding-top: 90px;
    }
}


