<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIENTIF</title>
    <link rel="stylesheet" href="view_chat.css">
    <link rel="icon" href="/VIEW/icon/logo_cientif.png" type="image/png">
</head>

<body>
    <div class="chat-container">
        <header>
            <span class="button-retorno"> <a href="/VIEW/VIEW_MENU/view_menu.html">←</a></span>
            BATE PAPO
        </header>
        <div>
            
        </div>
        <footer>
            <a href="/VIEW/VIEW_DUVIDAS/view_duvidas.html"><img src="/VIEW/icon/ponto-de-interrogacao.png"
                    alt="ponto de interrogação"></a>
        </footer>
    </div>
</body>

</html>