/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

/* Body */
body {
  background-color: #e6f2ec;

}

a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-header {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;

}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  border-radius: 50%;
  margin-right: 20px;
}

.header-logo {
  font-size: 20px;
}

.nav-item {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item .nav-link {
  display: none;
  text-align: center;
  margin: 20px;
  font-size: 0.8rem;
}

.nav-item:hover .nav-link {
  display: block;
  /* Mostra o nome ao passar o mouse */
}

.nav-list {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.nav-list img {
  max-width: 100%;
  height: auto;
  width: 35px;
  display: block;
  margin: 0 auto;
}

.nav-link {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: #ffffff;
}

.toggle,
.close {
  display: none;
}

header {
  display: flex;
  justify-content: center;
}

.btn-buscar {
  border-radius: 50px;
  background-color: white;
  padding: 8px 20px;
  margin-right: 5px;
  border: none;
  transition: background 0.3s, color 0.3s;
}

.btn-green {
  border-radius: 50px;
  background-color: #a3d9c9;
  color: #1a3c34;
  padding: 8px 20px;
  border: none;
  transition: background 0.3s, color 0.3s;
}

.card {
  display: inline-block;
  margin: 20px 40px;
  padding: 10px;
  max-width: 40%;
  border-radius: 50px;

}

.card button {
  display: inline-block;
  width: 45%;
  margin-top: 10px;
}

/* buttons-card */
.btn-success {

  background-color: green;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
}

.btn-dowl {

  background-color: blue;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
}

.card-link-um {
  text-decoration: none;
  color: white;

}

.card-link-dois {
  text-decoration: none;
  color: white;

}

/*Icones de interrogação e chat*/
.footer-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-icons a {
  display: flex;
  align-items: center;
}

/*Tamanho icone de interrogação*/
.img_interroga {
  width: 24px;
  height: 24px;
}

/*NO JEITO, botão bonito*/
footer {
  width: 100%;
  text-align: left;
  padding: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .nav-item:hover .nav-link {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav-header {
    height: 50px;
    justify-content: space-between;
    padding: 0 30px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .logo h1 {
    font-size: 1rem;
  }

  .logo img {
    width: 30px;
  }

  .toggle {
    display: inline;
    font-size: 25px;
  }

  .close {
    position: absolute;
    right: 25px;
    display: block;
    font-size: 25px;
    border-radius: 50%;
  }

  .close:hover {
    background-color: #ffffff;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #ffffff;
    width: 60%;
    height: 100vh;
    padding: 24px;
    z-index: 100;
    transition: 0.5s;
    overflow-y: auto; /* Permite rolagem vertical */
    overflow-y: scroll;     /* ainda permite a rolagem */
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Mais espaço entre os itens */

  }

  .nav::-webkit-scrollbar {
    display: none;  /* Chrome, Safari e Opera */
  }

  .nav-item {
    flex: 0 0 auto;
  }

  .nav-item .nav-link {
    display: block;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }

  .show {
    right: 0;
  }

  .btn-green {
    font-size: 13px;
    padding: 7px 15px;
  }

  .card {
    display: block;
    margin: 20px auto;
    max-width: 90%;
  }

  .card button {
    width: 100%;
  }

  .buscar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding: 10% 5%;
  }

  .btn-dowl {
    margin-left: 0;
    margin-top: 10px;
  }

  .d-flex {
    flex-direction: column;
    width: 100%;
  }

  .btn-buscar,
  .btn-green {
    width: 100%;
    margin-bottom: 10px;
  }
}