* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #245d56;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    background-color: #245d56;
    padding: 40px;
    max-width: 1200px;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
  }

  .left {
    flex: 1;
    min-width: 300px;
  }


  .left img.illustration {
    max-width: 100%;
    height: auto;
  }

  .right {
    flex: 1;
    min-width: 300px;
    background-color:#004643;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .right h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }

  .right p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #00ffbf;
    border-radius: 5px;
    font-size: 1rem;
  }

  .right a {
    color: #00ffbf;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .acessar{
    width: 100%;
    padding: 12px;
    background-color: #00ffbf;
    color: #000;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .right {
      width: 100%;
    }

    .left {
      text-align: center;
    }
  }