<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIENTIF</title>
    <link rel="stylesheet" href="view_login.css">
    <script src="login.js"></script>
    <link rel="icon" href="/VIEW/icon/logo_cientif.png" type="image/png">

</head>

<body>
    <div class="container">
        <div class="header">
            <img src="/VIEW/icon/logo_cientif.png" alt="CIENTIF Logo">
        </div>
        <div class="login-form">
            <h2>Login</h2>
            <p>Acesse ao Cientif IF</p>
            <input type="text" id="usuario" placeholder="USUÁRIO">
            <input type="password" id="senha" placeholder="SENHA">
            <button class="acessar" onclick="fazerLogin()">Acessar</button>
            <a href="https://suap.ifto.edu.br/comum/solicitar_trocar_senha/">Esqueceu sua senha?</a>
            
        </div>
    </div>
</body>

</html