<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIENTIF</title>
    <link rel="stylesheet" href="view_aluno.css">
    <link rel="icon" href="/VIEW/icon/logo_cientif.png" type="image/png">
</head>

<body>
    <div class="perfil-container">
        <header>
            <span class="button-retorno"> <a href="/VIEW/VIEW_MENU/view_menu.html">←</a></span>
            PERFIL
        </header>
            
        <div>
            <img class="img-aluno" src="/VIEW/icon/aluno-icon.png" alt="Foto de Perfil">

            <ul class="perfil-list">

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Aluno: <p class ="p2"> Edson</p></p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Curso: <p class ="p2"> A.D.S. 4° Período</p></p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class ="p1">Matrícula: <p class ="p2"> 11111111</p> </p>
                    </li>
                </section>

                <section class="quests">
                    <li class="menu-item">
                        <p class="p1">Projeto Atual:</p> <p class ="p2"> Projeto 1</p> 
                    </li>
                </section>

            </ul>

        </div>

        <footer>
            <a href="/VIEW/VIEW_DUVIDAS/view_duvidas.html"><img src="/VIEW/icon/ponto-de-interrogacao.png"
                    alt="ponto de interrogação"></a>
        </footer>

    </div>
</body>

</html>