/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #245d56;
}

a {
  color: black;
  text-decoration: none;
}

.nav-header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #1f4943;
  padding: 0.5rem;
  border-radius: 10px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 35px;
  margin-right: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-list li {
  position: relative;
}

.tooltip-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tooltip-img {
  width: 35px;
  height: 35px;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  /* posiciona abaixo da imagem */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  font-size: 0.75rem;
    /* garante visibilidade sobre outros elementos */
  z-index: 999;
  /* espaço entre imagem e tooltip */
  margin-top: 6px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
.profile-menu {
  position: relative;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 60px;
  background: white;
  color: #333;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 1rem;
  display: none;
  z-index: 999;
}

.dropdown h4 {
  margin-bottom: 0.3rem;
}

.dropdown p {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.dropdown ul {
  list-style: none;
}

.dropdown li {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown li:hover {
  background: #f0f0f0;
}

.img-profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.toggle,
.close {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
}

.btn-buscar {
  border-radius: 50px;
  background-color: white;
  padding: 10px 40px;
  margin-right: 5px;
  border: none;
  transition: background 0.3s, color 0.3s;
}

.btn-green {
  border-radius: 50px;
  background-color: #00ffbf;
  padding: 10px 20px;
  border: none;
  transition: background 0.3s, color 0.3s;
}

.btn-green:hover{
  background-color: #004643;
}

/* elementos da main */
.container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  gap: 20px;
  background:  #004643;
  padding: 40px;
  border-radius: 30px;
  justify-content: center;
}

.card {
    width: 250px;
    background: #1f4943;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.4s ease, height 0.4s ease;
    cursor: pointer;
    position: relative;
    height: 320px;
}

.card.expanded {
    height: 460px;
    z-index: 1;
}

.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: height 0.4s ease;
    display: block;
}

.card.expanded img {
    height: 150px;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(30, 30, 30, 0.7);
    color: white;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 13px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    display: none;
}

.card.expanded .info {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.info h2 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #fff;
}

.info p {
    font-size: 14px;
    color: #fce4ec;
    margin-bottom: 10px;
}

.contact-btn {
    display: inline-block;
    background: #d32f2f;
    color: #fff;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.2s ease;
}

.contact-btn:hover {
    background: #b71c1c;
    transform: scale(1.05);
}

.rating {
    margin-top: 10px;
}

.rating-title {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}

.stars {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.star {
    width: 24px;
    height: 24px;
    fill: #ccc;
    transition: fill 0.2s ease;
}

.star.active {
    fill: gold;
}


/* Tablets (768px a 1024px) */
@media (max-width: 1024px) {
  .container {
    padding: 30px;
  }

 
}

/* Mobile */
@media screen and (max-width: 768px) {
  .nav-header {
    height: 50px;
    justify-content: space-between;
    padding: 0 30px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .logo h1 {
    font-size: 1rem;
  }

  .logo img {
    width: 30px;
  }

  .toggle {
    display: inline;
    font-size: 25px;
  }

  .close {
    position: absolute;
    right: 25px;
    display: block;
    font-size: 25px;
    border-radius: 50%;
  }

  .close:hover {
    background-color: #ffffff;
  }

 
  .nav {
    position: fixed;
    top: 0;
    right: 0; 
  
    transform: translateX(100%); 
  
    transition: transform 0.3s ease;
    width: 20%;
    height: 100vh;
    background-color: #004643;
    z-index: 1000;
    flex-direction: column;
    padding: 1.5rem;
    -ms-overflow-style: none;
    /* Permite rolagem vertical */
    scrollbar-width: none;
    /* ainda permite a rolagem */
    overflow-y: scroll;
    /* IE e Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  .nav.active {
    transform: translateX(0);
  }

  .nav-list {
    transform: translateX(0);
  }
  .tooltip-img{
    padding: 0.3rem;
    margin-top: 0.2rem;
  }

  .tooltip-text {
    visibility: visible ;
    opacity: 1 ;
    position: absolute;
    color: white;
    background: none;
    
  }

  .show {
    right: 0;
  }
 

  .toggle,
  .close {
    display: block;
    font-size: 1.5rem;
  }

  .close {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .show {
    right: 0;
  }

  .btn-green {
    font-size: 13px;
    padding: 7px 15px;
  }

  .buscar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding: 10% 5%;
  }

  .container {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }
 .card {
        width: 100%;
        max-width: 360px;
    }
  

  .d-flex {
    flex-direction: column;
    width: 100%;
  }

  .btn-buscar,
  .btn-green {
    width: 100%;
    margin-bottom: 10px;
  }

}