/*NO JEITO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*NO JEITO*/
body {
    background-color: #1a3c34;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

/*NO JEITO*/
header{
    background-color: #0d3433;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    color: white;
}

/*NO JEITO, Botão de retorno*/
a{
    text-decoration: none;
    color: black;
 } 
.button-retorno {
    position: absolute;
    padding-bottom: 6px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
}

/*NO JEITO*/
.seta{
    text-decoration: none;
    color: black;
 }

.container{
    margin: 0;
    background-color: #0d3433;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200%;
    min-width: 320px;
    max-width: 800px;
    text-align: center;
    overflow: hidden;
}

.perfil-list{
    margin: 0 auto;
}

.menu-item{
    background-color:white;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    width: 80%;
    max-width: 600px; 
    margin: 0 auto; 
    margin-top: 30px;
    list-style: none;
}

.quests {
    flex-direction: column;
    justify-content: center;
    display: inline;
}
/*NO JEITO*/
.p1{
    font-weight: bold;
    display: inline;
}
/*NO JEITO*/
.p2{
    display: inline;
}

/*NO JEITO, imagem do perfil*/
.img-aluno {
    width: 100px;  
    height: 100px; 
    border-radius: 50%;  
    object-fit: cover;  
    margin: 20px auto;  
    display: block;  
}

/*Icones de interrogação e chat*/
.footer-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer-icons a {
    display: flex;
    align-items: center;
}
/*Tamanho icone de interrogação*/
.img_interroga{
    width: 24px;
    height: 24px;
}

/*NO JEITO, botão bonito*/
footer {
    width: 100%; 
    text-align: left; 
    padding-bottom: 10px; 
    margin-left: 1%;

}


  
/*Menu para celulares/responsivos*/
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/*Configuração dos itens do menu responsivo*/
.bottom-nav .nav-item {
    flex: 1;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 80%;
    padding: 5px 0;
    transition: background-color 0.2s;
    font-weight: bold;  
}
/*Define o tamanho dos icones*/
.nav-item img{
width: 25px;
height: 25px;
}

/*Oculta em telas maiores o menu bottom-nav (Menu para celulares/responsivos)*/
@media (min-width: 768px) {
.bottom-nav {
      display: none;
}
}
/*Oculta em telas menores o menu Sidebar (Menu para computadores/telas maiores)*/
@media (max-width: 768px) {
    .sidebar {
      display: none;
}
}

/*Teste de ocultação (Menu para computadores/telas maiores)*/
@media (max-width: 768px) {
    footer {
      display: none;
}
}

