<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CIENTIF</title>
  <link rel="icon" href="/VIEW/icon/logo_cientif.png" type="image/png">
  <link rel="stylesheet" href="view_aluno.css">
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
  <div class="nav-header">  
    <div class="logo">
      <img src="/VIEW/icon/logo_cientif.png" alt="Logo CIENTIF">
      <h1 class="header-logo">CIENTIF</h1>
    </div>
    <!--Menu para telas grandes-->
    <nav class="nav" id="nav-menu">
      <i data-feather="x" class="close" id="close-menu"></i>
      <ul class="nav-list">
        <li>
          <a href="/VIEW/VIEW_MENU/view_menu.html" class="tooltip-container" >
            <img src="/VIEW/icon/botao-home.png" alt="Home" class="tooltip-img">
            <span class="tooltip-text">Home</span>
          </a>
        </li>
        <li>
          <a href="/VIEW/VIEW_PROJETO/view_projeto.html" class="tooltip-container">
            <img src="/VIEW/icon/pesquisa-projeto.png" alt="Alunos" class="tooltip-img">
            <span class="tooltip-text">Projetos</span>
          </a>
        </li>
        <li>
          <a href="https://www.ifto.edu.br/noticias/editais-de-apoio-a-pesquisa-no-ambito-do-ifto-sao-publicados/view"
            class="tooltip-container">
            <img src="/VIEW/icon/pesquisa-edital.png" alt="Edital" class="tooltip-img">
            <span class="tooltip-text">Edital</span>
          </a>
        </li>
      
        <li>
          <a href="/VIEW/VIEW_PROFESSOR/view_professor.html" class="tooltip-container">
            <img src="/VIEW/icon/professor-icon.png" alt="Professores" class="tooltip-img">
            <span class="tooltip-text">Professores</span>
          </a>
        </li>
        
      </ul>
      
    </nav>
  <div class="profile-menu">
      <img src="/VIEW/icon/eu.jpg" alt="Profile" class="profile-img" id="profileToggle">

      <div class="dropdown" id="dropdownMenu">
        <h4>Edson Oliveira</h4>
        <p>Análise e Desenvolvimento de Sistema</p>
        <ul>
          <li><span>👤</span>Meu Perfil</li>
          <li><span>✏️</span>Editar Perfil</li>
          <li><a href="/VIEW/VIEW_DUVIDAS/view_duvidas.html"><span>🛠️</span>  Duvidas</a></li>
          <li><a href="/VIEW/VIEW_LOGIN/view_login.html"><span>🔓</span>   Deslogar</a></li>
        </ul>
      </div>
    </div>

    <i data-feather="menu" class="toggle" id="toggle-menu"></i>

  </div>

  <!--Seleção de Busca de Projetos-->
  <header class="buscar">
    <form class="d-flex">
      <input class="btn-buscar" type="search" placeholder="Buscar projeto..." aria-label="Buscar">
      <button class="btn-green" type="submit">Buscar</button>
    </form>
  </header>

  <!--Seleções de Aluno-->
  <main class="container">
    <div class="card" onclick="toggleCard(event, this)">
    <img src="/eu.jpg" alt="Perfil 1">
    <div class="image-overlay">
      <strong>Maria Clara</strong>
      <span>Área: ADS</span>
    </div>
    <div class="info">
      <p>SKILLS em java e php</p>
      <div class="rating">
        <div class="rating-title">Nível de Comprometimento</div>
        <div class="stars" data-rating="0">
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        </div>
      </div>
      <a href="https://workspace.google.com/intl/pt-BR/gmail/" target="_blank" class="contact-btn">Contact Me</a>
    </div>
  </div>

  <div class="card" onclick="toggleCard(event, this)">
    <img src="/eu.jpg" alt="Perfil 1">
    <div class="image-overlay">
      <strong>Luiz </strong>
      <span>Área: Agronomia</span>
    </div>
    <div class="info">
      <p>AGronomia de Campo</p>
      <div class="rating">
        <div class="rating-title">Nível de Comprometimento</div>
        <div class="stars" data-rating="0">
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        </div>
      </div>
      <a href="https://workspace.google.com/intl/pt-BR/gmail/" target="_blank" class="contact-btn">Contact Me</a>
    </div>

  </div>
  <div class="card" onclick="toggleCard(event, this)">
    <img src="/eu.jpg" alt="Perfil 1">
    <div class="image-overlay">
      <strong>Fernanda</strong>
      <span>Área: ADS</span>
    </div>
    <div class="info">
      <p>Desenvolvedora criativa, apaixonada por design e tecnologia.</p>
      <div class="rating">
        <div class="rating-title">Nível de Comprometimento</div>
        <div class="stars" data-rating="0">
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        </div>
      </div>
      <a href="https://workspace.google.com/intl/pt-BR/gmail/" target="_blank" class="contact-btn">Contact Me</a>
    </div>
  </div>

  <div class="card" onclick="toggleCard(event, this)">
    <img src="/eu.jpg" alt="Perfil 1">
    <div class="image-overlay">
      <strong>Julia</strong>
      <span>Área: Pedagogia</span>
    </div>
    <div class="info">
      <p>Amo o ensino </p>
      <div class="rating">
        <div class="rating-title">Nível de Comprometimento</div>
        <div class="stars" data-rating="0">
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          <svg class="star" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        </div>
      </div>
      <a href="https://workspace.google.com/intl/pt-BR/gmail/" target="_blank" class="contact-btn">Contact Me</a>
    </div>
  </div>
  
  </main>

  <script>
    feather.replace();
  </script>
  <script src="view_aluno.js"></script>

</body>

</html>